body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}
body .imgbox img {
  width: 100%;
}

#wecare {
  padding: 50px 0;
  /* Media queries */
}
#wecare h1 {
  font-weight: 700;
  font-size: 72px;
}
#wecare h4 {
  color: #a8a8a8;
  font-size: 24px;
}
#wecare .imgbox {
  width: 500px;
}
@media (max-width: 992px) {
  #wecare h1 {
    font-size: 60px;
  }
}

#welcome {
  padding: 40px 0;
  /* Media queries */
}
#welcome h1 {
  font-weight: 700;
  font-size: 30px;
}
#welcome h3 {
  color: #868686;
  margin: 20px 0 40px;
  font-size: 20px;
}
#welcome .text {
  padding: 0 80px;
}
#welcome .text h2, #welcome .text h6 {
  margin: 15px 0;
}
#welcome .text h2 {
  font-size: 33px;
}
#welcome .text h6 {
  font-size: 18px;
}
#welcome .text .btn {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #a7b59f;
  color: white;
}
#welcome .bigicon i {
  margin: 0 0 10px 0;
  color: #d4cece;
  font-size: 30px;
}
@media (max-width: 992px) {
  #welcome .text {
    padding: 0 50px;
  }
  #welcome .text h2, #welcome .text h6 {
    margin: auto;
    margin-bottom: 10px;
  }
  #welcome .text h2 {
    font-size: 30px;
  }
  #welcome .text h6 {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  #welcome .reverse {
    flex-direction: column-reverse;
  }
}
@media (max-width: 576px) {
  #welcome .img {
    padding: 0 40px;
  }
}

#aboutus {
  padding: 40px 0;
  /* Media queries */
}
#aboutus .text {
  padding: 0 100px;
}
#aboutus .text h1 {
  font-weight: 700;
  font-size: 35px;
}
#aboutus .text h3, #aboutus .text p {
  color: #a8a8a8;
  font-weight: 100;
  font-size: 20px;
  margin: 20px 0 0;
  line-height: 1.6;
}
#aboutus .text p {
  font-size: 18px;
  color: #949494;
  line-height: 1.4;
}
#aboutus .text li {
  display: flex;
  padding: 20px 0 0 0;
}
#aboutus .text li .icon {
  padding: 0 15px 0 0;
  color: #5e5656;
}
#aboutus .text li h4 {
  font-size: 20px;
  color: #949494;
}
#aboutus .text .bigicon i {
  margin: 0 0 10px 0;
  padding: 0 50px;
  color: #d4cece;
  font-size: 30px;
}
#aboutus .imgbox {
  width: 450px;
}
@media (max-width: 1199px) {
  #aboutus .text {
    padding: 0 35px;
  }
}
@media (max-width: 992px) {
  #aboutus .text {
    padding: 0 30px;
  }
  #aboutus .text h1 {
    font-size: 30px;
  }
  #aboutus .text h3 {
    margin: 10px 0 0;
    line-height: 1.3;
    font-size: 18px;
  }
  #aboutus .text p {
    margin: 10px 0 0;
    line-height: 1.1;
    font-size: 16px;
  }
  #aboutus .text li h4 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  #aboutus .text {
    padding: 0 20px;
    text-align: center !important;
  }
  #aboutus .text ul {
    padding-left: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  #aboutus .img {
    padding: 0 40px;
  }
}

#trainers {
  padding: 40px 0;
  /* Media queries */
}
#trainers h1 {
  font-weight: 700;
  font-size: 38px;
}
#trainers h3, #trainers h4 {
  font-weight: 300;
  font-size: 20px;
  color: #a8a8a8;
  margin: 20px 0;
  line-height: 1.4;
}
#trainers .box {
  margin: 0 5px;
}
#trainers .box .textbox {
  padding: 15px;
}
#trainers .box .textbox h2 {
  font-weight: 300;
  font-size: 25px;
  padding: 20px 0 0;
}
#trainers .box .textbox ul {
  display: flex;
  flex-direction: row;
}
#trainers .box .textbox ul li {
  margin-right: 20px;
  background-color: #d4cece;
  border-radius: 50%;
  padding: 20px;
  width: 10px;
  height: 10px;
}
#trainers .box .textbox ul li .icon {
  margin: -7px;
}
#trainers .bigicon i {
  margin: 0 0 10px 0;
  color: #d4cece;
  font-size: 30px;
}
@media (max-width: 1200px) {
  #trainers .textbox {
    padding: 10px;
  }
}
@media (max-width: 992px) {
  #trainers .textbox {
    padding: 10px;
  }
  #trainers .textbox h2 {
    padding: 0 !important;
  }
  #trainers .textbox h4 {
    font-size: 18px;
    line-height: 1.2;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  #trainers .box {
    margin-bottom: 20px;
  }
  #trainers .box .textbox {
    text-align: center;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  #trainers .box .textbox ul {
    display: inline-flex !important;
  }
  #trainers .box .textbox ul li {
    margin: 0 10px !important;
  }
  #trainers .box .imgbox {
    height: 450px;
    padding: 0 40px;
  }
  #trainers .box .imgbox img {
    height: 100%;
  }
}

#pricing {
  padding: 40px 0;
}
#pricing .textbox {
  width: 580px;
  text-align: center;
}
#pricing .textbox h1 {
  font-weight: 700;
  font-size: 35px;
}
#pricing .textbox h5 {
  font-weight: 200;
  font-size: 20px;
  color: #000000;
  margin: 20px 0 50px;
}
#pricing .box {
  width: 340px;
  color: white;
  background-color: #708f97;
  padding: 50px 30px;
  text-align: center;
}
#pricing .box h2 {
  font-size: 25px;
}
#pricing .box h3 {
  font-size: 30px;
  margin: 20px 0 0;
}
#pricing .box li {
  display: flex;
  justify-content: center;
  margin: 25px 0 0;
}
#pricing .box li h4 {
  font-size: 18px;
  margin: 0 0 0 10px;
}
#pricing .box .btn {
  padding: 10px 35px;
  margin: 30px 0 0;
  border-radius: 30px;
  background-color: #2b383c;
  color: white;
}
#pricing .PREMIUM-color {
  background-color: #2b383c;
}
#pricing .PREMIUM-color .btn {
  background-color: #708f97;
}
#pricing .bigicon i {
  margin: 0 0 10px 0;
  color: #d4cece;
  font-size: 30px;
}

#faq {
  padding: 40px 0;
}
#faq .wid {
  width: 580px;
}
#faq h1 {
  font-weight: 700;
  font-size: 36px;
  margin: 15px 0;
}
#faq h3 {
  font-size: 20px;
  margin: 0 0 40px;
  line-height: 1.4;
}
#faq .textbox {
  padding: 0 70px;
}
#faq .textbox h2, #faq .textbox h4 {
  font-size: 25px;
  margin: 0 0 0 10px;
  color: #717171;
}
#faq .textbox .minibox {
  margin: 20px 0 0 0;
}
#faq .textbox .minibox h2 {
  margin: 0 0 0 10px;
}
#faq .textbox p {
  font-size: 20px;
  margin: 30px 0 0 32px;
  color: #949494;
}
#faq .textbox li {
  margin: 30px 0 0;
  display: flex;
}
#faq .icon {
  color: #d4cece;
}
#faq .icon i {
  font-size: 22px;
}
#faq .bigicon i {
  font-size: 30px;
}

#doggerblog {
  padding: 40px 0;
}
#doggerblog .box {
  display: flex;
}
#doggerblog h1 {
  font-weight: 700;
  font-size: 35px;
}
#doggerblog h3 {
  font-size: 20px;
  margin: 30px 0 60px;
}
#doggerblog .textbox {
  margin: 0 0 0 20px;
}
#doggerblog .textbox h2 {
  font-size: 22px;
}
#doggerblog .textbox h4 {
  font-size: 18px;
  color: #aba8a8;
}
#doggerblog .textbox p {
  font-size: 18px;
  color: #8f8686;
}
#doggerblog .textbox p, #doggerblog .textbox h4 {
  margin: 20px 0 0;
}
#doggerblog .wid {
  width: 580px;
}
#doggerblog .bigicon i {
  margin: 0 0 10px 0;
  color: #d4cece;
  font-size: 30px;
}

#ourservices {
  padding: 40px 0;
}
#ourservices .wid {
  width: 580px;
}
#ourservices h1 {
  font-weight: 700;
  font-size: 35px;
}
#ourservices h3 {
  font-size: 20px;
  color: #c6c6c6;
  margin: 30px 0;
}
#ourservices .textbox {
  padding: 30px 40px;
}
#ourservices .textbox h2 {
  font-size: 25px;
  color: #757575;
  margin: 20px 0 0;
}
#ourservices .textbox h3 {
  margin: 30px 0 0;
}
#ourservices .textbox .icon {
  font-size: 60px;
}
#ourservices .bigicon i {
  margin: 0 0 10px 0;
  color: #d4cece;
  font-size: 30px;
}/*# sourceMappingURL=style.css.map */